.backBar {
    background: rgb(138, 138, 221);
    height: 3.8rem;
    font-size: 1rem;
    /* display: flex;
    justify-content: center; */
    position: relative;
}

.backBar h1,
.backBar span {
    height: 3.8rem;
    line-height: 3.8rem;
    font-size: 1rem;
}

.backBar span {
    position: absolute;
    padding-left: 10px;
}

.backBar h1 {
    width: 100%;
    text-align: center;
}